@if (orderData) {
<app-box>
    <div class="details">
        <h2>Order Details ( {{orderData.cartItems.length}} )</h2>
        <h2>Cart #{{orderData._id}}</h2>
        <h2>User #{{orderData.user._id}}</h2>
        <table class="text-center mt-10" width="100%">
            <thead>
                <tr>
                    <th colspan="2">Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Rate Avg</th>
                    <th>Category</th>
                    <th>Brand</th>
                </tr>
            </thead>

            <tbody>
                @for (product of orderData.cartItems; track $index) {
                <tr>
                    <td><img [src]="product.product.imageCover" alt="" class="w-full max-w-[70px] "></td>
                    <td>{{product.product.title}}</td>
                    <td>{{product.count}}</td>
                    <td>{{product.price | currency:'EGP'}}</td>
                    <td>{{product.product.ratingsAverage}}</td>
                    <td>{{product.product.category.name}}</td>
                    <td>{{product.product.brand.name}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</app-box>
}@else {
Order Data not get yet!
}